apiVersion: v1
kind: Secret
metadata:
  name: solidarytech-secrets
  namespace: solidarytech
  labels:
    team: solidarytech
    cost-center: ngo-core
type: Opaque
stringData:
  DATABASE_URL: "postgresql://solidarytech:CHANGE_ME@rds-endpoint:5432/solidarytech"
  SQS_QUEUE_URL: "https://sqs.us-east-1.amazonaws.com/ACCOUNT_ID/donation-queue"
  DB_PASSWORD: "CHANGE_ME"
