Flask==3.1.1
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.12
gunicorn==26.0.0
boto3==1.43.95
opentelemetry-api==1.44.0
opentelemetry-sdk==1.44.0
opentelemetry-instrumentation-flask==0.65b0
opentelemetry-exporter-otlp-proto-grpc==1.44.0
prometheus-client==0.25.0
redis==5.2.1
